disk_model/__pycache__
optimization/__pycache__
__pycache__
GPI_init_fit.ipynb
GPI_init_fit.py
hr4796a_H_pol_initial_fit.png
docs/cdbs/
*.pyc
docs/tutorials/stellar_psf_images/
docs/tutorials/test_images/
docs/stpsf-data/
docs/tutorials/PSFs
docs/tutorials/test_emcee_backend.h5